.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.photo-card {
  margin: 5px;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  margin-right: 7px;
}

.search-container {
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  z-index: 9999;
}

.search-container input[type='text'] {
  margin-right: 10px;
  padding: 5px;
  flex-grow: 1;
}

.search-container button {
  padding: 5px 10px;
}

.gallery {
  margin-top: 50px;
}
